# Build subdirectories.
/*build*
!/build-aux
!/build_msvc

*.pyc

# Only ignore unexpected patches
*.patch
!contrib/guix/patches/*.patch
!depends/patches/**/*.patch

/CMakeUserPresets.json

# Previous releases
/releases

#build tests
test/lint/test_runner/target/

/guix-build-*

/ci/scratch/
ci/lint/04_install.sh
ci/lint/06_script.sh
ci/lint/container-entrypoint.sh
ci/lint_imagefile
ci/lint_run_all.sh
ci/test/00_setup_env.sh
ci/test/00_setup_env_arm.sh
ci/test/00_setup_env_i686_centos.sh
ci/test/00_setup_env_i686_multiprocess.sh
ci/test/00_setup_env_mac_cross.sh
ci/test/00_setup_env_mac_native.sh
ci/test/00_setup_env_native_asan.sh
ci/test/00_setup_env_native_fuzz.sh
ci/test/00_setup_env_native_fuzz_with_msan.sh
ci/test/00_setup_env_native_fuzz_with_valgrind.sh
ci/test/00_setup_env_native_msan.sh
ci/test/00_setup_env_native_nowallet_libbitcoinkernel.sh
ci/test/00_setup_env_native_previous_releases.sh
ci/test/00_setup_env_native_tidy.sh
ci/test/00_setup_env_native_tsan.sh
ci/test/00_setup_env_native_valgrind.sh
ci/test/00_setup_env_s390x.sh
ci/test/00_setup_env_win64.sh
ci/test/01_base_install.sh
ci/test/02_run_container.sh
ci/test/03_test_script.sh
ci/test/GetCMakeLogFiles.cmake
ci/test/wrap-valgrind.sh
ci/test/wrap-wine.sh
ci/test_imagefile
ci/test_run_all.sh
/.vs
