# Build subdirectories.
/*build*
!/build-aux
!/build_msvc

*.pyc

# Only ignore unexpected patches
*.patch
!contrib/guix/patches/*.patch
!depends/patches/**/*.patch

/CMakeUserPresets.json

# Previous releases
/releases

#build tests
test/lint/test_runner/target/

/guix-build-*

/ci/scratch/
.vs/afro-coin/FileContentIndex/1e11d743-e894-4a3b-ac1b-d8825dc65cf2.vsidx
.vs/afro-coin/FileContentIndex/56c2bc9a-e9f6-4ec3-8002-0652daa23e7e.vsidx
.vs/afro-coin/FileContentIndex/99af4556-f755-4afc-a4af-0419f93ffa60.vsidx
.vs/afro-coin/FileContentIndex/b4695cf8-3de1-4570-a651-c3c1c0c591a8.vsidx
.vs/afro-coin/v17/.wsuo
.vs/afro-coin/v17/Browse.VC.db
.vs/afro-coin/v17/DocumentLayout.backup.json
.vs/afro-coin/v17/DocumentLayout.json
.vs/afro-coin/v17/ipch/AutoPCH/33143d39c78e1df4/COINS_TESTS.ipch
.vs/afro-coin/v17/ipch/AutoPCH/3ccf141c1120f6e0/BLOCKSTORAGE.ipch
.vs/afro-coin/v17/ipch/AutoPCH/48c356498706631f/VALIDATION.ipch
.vs/afro-coin/v17/ipch/AutoPCH/56e905becd8b1bfd/WALLET_CREATE_TX.ipch
.vs/afro-coin/v17/ipch/AutoPCH/5d04c7ac3061134c/CHAINSTATE.ipch
.vs/afro-coin/v17/ipch/AutoPCH/606f771d90294bb7/BITCOIN-CHAINSTATE.ipch
.vs/afro-coin/v17/ipch/AutoPCH/63161af67d75de60/WALLET.ipch
.vs/afro-coin/v17/ipch/AutoPCH/63f3d3d88a3141bd/BITCOIN-TX.ipch
.vs/afro-coin/v17/ipch/AutoPCH/8282ce88c8732340/COINS.ipch
.vs/afro-coin/v17/ipch/AutoPCH/a302bbbd39a33c6a/TRANSACTION.ipch
.vs/afro-coin/v17/ipch/AutoPCH/a807ef445c2b51de/CHAINPARAMS.ipch
.vs/afro-coin/v17/ipch/AutoPCH/aca142a5b53649f/WALLETMODELTRANSACTION.ipch
.vs/afro-coin/v17/ipch/AutoPCH/c71490e4656062d1/INTERPRETER.ipch
.vs/afro-coin/v17/ipch/AutoPCH/d66f4cce2ff2526b/COINCONTROL.ipch
.vs/afro-coin/v17/ipch/AutoPCH/ed920ed89852e351/CHAINPARAMS.ipch
.vs/afro-coin/v17/ipch/AutoPCH/ef1ee210a0e3bde1/TX_VERIFY.ipch
.vs/afro-coin/v17/ipch/AutoPCH/f7ce1d18e5a12de6/TX_CHECK.ipch
.vs/afro-coin/v17/workspaceFileList.bin
.vs/CMake Overview
.vs/cmake.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/afro-coin/FileContentIndex/cfebc4f2-2d3c-4122-8101-0f43f1c6ee3e.vsidx
.vs/afro-coin/FileContentIndex/d401f45a-877e-450f-84c0-364d4d7b0281.vsidx
.vs/afro-coin/FileContentIndex/e3762bc5-b77e-4406-9131-c3b00f4d168f.vsidx
.vs/afro-coin/v17/ipch/AutoPCH/82650e61be52c621/NETADDRESS.ipch
.vs/afro-coin/v17/ipch/AutoPCH/8795ed0b46139afb/BLOCKCHAIN.ipch
.vs/afro-coin/v17/ipch/AutoPCH/f8ef8385c9f27992/SIGN.ipch
.vs/afro-coin/v17/Solution.VC.db
.vs/afro-coin/FileContentIndex/181cce9f-fc09-4059-a765-c1c146494a3c.vsidx
.vs/afro-coin/v17/Browse.VC.db-shm
.vs/afro-coin/v17/Browse.VC.db-wal
.vs/afro-coin/v17/Browse.VC.opendb
.vs/afro-coin/v17/ipch/AutoPCH/112dd20a19dfc57f/DBWRAPPER.ipch
.vs/afro-coin/v17/ipch/AutoPCH/8996803959316df4/NETBASE.ipch
.vs/afro-coin/v17/ipch/AutoPCH/b1f3f60ee025bf7b/CHAIN.ipch
.vs/afro-coin/FileContentIndex/f44ccdd5-419a-4d35-ae10-2156b8c02a66.vsidx
/.vs/afro-coin/FileContentIndex
